<div id="contact" class="page-footer font-small blue-grey lighten-5">
  <!-- Conctact Header Bar -->
  <div class="purpleBack">
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!--Grid column-->
        <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
          <h6 class="mb-0 white-text text-center text-md-left block"><strong>Get connected with me on social networks!</strong></h6>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-12 col-md-7 text-center text-md-right">
          <!--Facebook-->
          <a class="fb-ic ml-0"><i class="fa fa-facebook white-text mr-lg-2 ml-4"> </i></a>
          <!--Twitter-->
          <a class="tw-ic"><i class="fa fa-twitter white-text mr-lg-2 ml-4"> </i></a>
          <!--Google +-->
          <a class="gplus-ic"><i class="fa fa-google-plus white-text mr-lg-2 ml-4"> </i></a>
          <!--Linkedin-->
          <a class="li-ic"><i class="fa fa-linkedin white-text mr-lg-2 ml-4"> </i></a>
          <!--Instagram-->
          <a class="ins-ic"><i class="fa fa-instagram white-text mr-lg-2 ml-4"> </i></a>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- End of Contact Header Bar -->

  <!-- Contact Form Container-->
  <div class="container mt-5 mb-0 blue-grey lighten-5 pb-5 pt-1">
    <div class="row mt-3">
      <!-- Contact Form Fields -->
      <div class="col-lg-12">
        <form 
           #contactForm="ngForm" 
           method="POST" 
           action="/api/send/" 
           (ngSubmit)="onSubmit(contactForm.value);contactForm.reset()" 
           novalidate
        >
          <h5 class="title font-weight-bold dark-grey-text wow bounceInLeft"><strong>Contact Me</strong></h5>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto wow bounceInLeft" style="width: 80px;">
          <flash-messages></flash-messages>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group md-form col-sm-12 wow bounceIn" data-wow-delay=".6s" >
                <i class="fa fa-user prefix grey-text"></i>
                <br>
                <label  for="form3">Your full name</label>
                <input 
                  type="text" 
                  name="name"
                  #userName = "ngModel"
                  [ngClass] = "{'is-invalid': userName.errors && userName.touched}" 
                  id="form3" 
                  class="form-control" 
                  ngModel 
                  required
                  minlength="2" 
                  mdbActive
                >
                <div [hidden]="!userName.errors?.required" class="invalid-feedback">
                  Name is required
                </div>
                <div [hidden]="!userName.errors?.minlength" class="invalid-feedback">
                  Must be at least 2 letters
                </div>
              </div>
              <div class=" md-form col-sm-12 wow bounceIn" data-wow-delay=".6s">
                <i class="fa fa-envelope prefix grey-text"></i>
                <br>
                <input 
                  type="email" 
                  name="email" 
                  #userEmail = "ngModel"
                  [ngClass] = "{'is-invalid': userEmail.errors && userEmail.touched}"
                  required
                  id="form2" 
                  class="form-control" 
                  ngModel 
                  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                  mdbActive
                  >
                <label for="form2">Your email</label>
                <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
                  Email required
                </div>
                <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
                  Email is not valid
                </div>
              </div>
              <div class="md-form col-sm-12 wow bounceIn" data-wow-delay=".6s">
                <i class="fa fa-tag prefix grey-text"></i>
                <br>
                <input 
                  type="text" 
                  name="subject"
                  #userSubject= "ngModel"
                  [ngClass] = "{'is-invalid': userSubject.errors && userSubject.touched}" 
                  id="form3" 
                  class="form-control" 
                  ngModel 
                  required
                  minlength="2" 
                  mdbActive
                >
                <div [hidden]="!userSubject.errors?.required" class="invalid-feedback">
                  Subject is required
                </div>
                <div [hidden]="!userSubject.errors?.minlength" class="invalid-feedback">
                  Must be at least 2 letters
                </div>
                <label for="form4">Subject</label>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="md-form col-sm-12 wow fadeIn" data-wow-delay=".6s">
                <i class="fa fa-pencil prefix grey-text"></i>
                <!-- <br> -->
                <textarea 
                  type="text" 
                  name="message" 
                  id="form8" 
                  class="form-control md-textarea"  
                  ngModel 
                  style="height: 100px; max-width: 100%; min-width: 50%;overflow-y: auto; resize: auto;" 
                  #userMessage= "ngModel"
                  [ngClass] = "{'is-invalid': userMessage.errors && userMessage.touched}" 
                  required
                  minlength="2" 
                  mdbActive
                  ></textarea>
                <label for="form8">Your message</label>
                 <div [hidden]="!userMessage.errors?.required" class="invalid-feedback">
                  Message is required
                </div>
                <div [hidden]="!userMessage.errors?.minlength" class="invalid-feedback">
                  Must be at least 2 letters
                </div>
              </div>
              <div class="text-center col-sm-12 wow zoomIn">
                <button 
                [disabled]="!contactForm.form.valid" 
                class="btn purpleBack waves-light" 
                type="submit" 
                mdbRippleRadius
                >Send <i class="fa fa-paper-plane-o ml-1 wow bounceIn"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- End Of contact Form Fields -->
      <div class="col-lg-12 mx-auto dark-grey-text text-center dark-grey-text mt-5">
        <!-- <h6 class="title font-weight-bold"><strong>Contact</strong></h6> -->
        <!-- <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
        <!-- <div class="col-md-4 col-lg-3 col-xl-3 dark-grey-text text-center mx-auto"> -->
        <div>
          <h6 class="grey-text">I got tired of adding items down here! So I decided to just write a sentence yay</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Contact Form-->
