<mdb-navbar SideClass="navbar z-depth-0 fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav hm-purple-light" [containerInside]="true">
  <logo>
    <a class="logo navbar-brand nav-link" href="/"><strong>JRV</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav ml-auto text-right">
      <li class="nav-item active waves-light">
        <a scrollTo="card" offset="160" class="nav-link" mdbRippleRadius>Home <span class="sr-only">(Current)</span></a>
      </li>
      <li class="nav-item waves-light">
        <a scrollTo="projects" smoothScroll easing="easeInQuad" offset="160" class="nav-link" mdbRippleRadius>Projects</a>
      </li>
      <li class="nav-item waves-light">
        <a scrollTo="contact" smoothScroll easing="easeInQuad" offset="160" class="nav-link" mdbRippleRadius>Contact</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--Main Navigation -->
 