<div class="view intro mt-5">
  <div class="full-bg-img flex-center">
    <div class="container text-center white-text wow flipInX">
        
<div class="row">
  <div class="container" id="card">
        <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="../assets/img/city.png">
                        </div>
                        <div class="user">
                            <img class="img-circle" src="../assets/img/cropedSuit.png" alt="">
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Jose Ramirez</h3>
                                <p class="profession">Full Stack Developer</p>
                                <p class="text-center">Virginia Commonwealth University School of Engineering <br>B.S Computer Engineering<br> A.S Computer Science</p>
                            </div>
                            <div class="footer">
                                <button class="btn btn-primary wow flipInY" data-wow-delay="1s"onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> My Stats
                                </button>
                            </div>
                        </div>
                    </div> 

                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Constantly Working on Improving Myself!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">My Skills and Strengths</h4>
                                <p class="text-center">Web design, Software Engineering, Java, HTML, CSS3, Angular, Python <br> and many others...</p>

                                <div class="stats-container">
                                    <div class="stats">
                                        <h4>315lb</h4>
                                        <p>
                                            Squat
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>245lb</h4>
                                        <p>
                                            Bench
                                        </p>
                                    </div>
                                    <div class="stats">
                                        <h4>325lb</h4>
                                        <p>
                                            Deadlift
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="footer">
                          <div class="social-links text-center">
                                <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                            <button class="btn btn-primary" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!--end card -->
      </div> <!-- end card-container -->
 </div>
</div>

</div> <!-- End of container -->








<!-- ORGINIAL CONTENT BEWLOW -->

      <!-- <h2>This Navbar is fixed and transparent</h2>
      <br>
      <h5>It will always stay visible on the top, even when you scroll down</h5>
      <p>Navbar's background will switch from transparent to solid color while scrolling down</p>
      <br>
      <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p> -->
    </div>
</div>





