//Variables

$c1:#100e29;
$c2:#283ba3;
$c3:#455ff1;
$c4:#51a2ec;
$c5:#5dd6ec;
$c6:#3448cf;
$c7:#3d96b1;

/*--------------- NAVIGATION BAR GLOBAL STYLES----------------------*/
//when the navbar collapses or scrolls down the color will change accordingly
.top-nav-collapse {
  background-color: #1D1273,;
  color: blue;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

//SETTINSG FOR HAMBURGER 
$hamburger-padding-x                       : 15px; //15px
$hamburger-padding-y                       : 15px; //was 15px
$hamburger-layer-width                     : 30px;
$hamburger-layer-height                    : 2px;
$hamburger-layer-color                     : #fff;
$hamburger-layer-border-radius             : 4px;
$hamburger-hover-opacity                   : 0.7;
$hamburger-hover-transition-duration       : 0.15s;
$hamburger-hover-transition-timing-function: linear;


.hamburger {
  padding: $hamburger-padding-x  $hamburger-padding-y;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: $hamburger-hover-transition-duration;
  transition-timing-function: $hamburger-hover-transition-timing-function;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0px; //0px
  overflow: visible; 
}
  .hamburger:hover {
    opacity: $hamburger-hover-opacity; 
}

.hamburger-box {
  width: 40px;
  height: 24px; //this was 24px
  display: inline-block;
  position: relative; 
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; // original -2px
}
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}
  .hamburger-inner::before {
    top: -10px;  //10px
}
  .hamburger-inner::after {
    bottom: -10px; //10px
}

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* End of spring reverse
*/


@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1D1273,;
    }
}
/*--------------- BODY GLOBAL STYLES----------------------*/
body {
  background: radial-gradient(at 0% 0%, $c1, $c2,  $c3, $c4, $c5, $c6, $c7);
  font-family: 'sans-serif', roboto, serif;
  font-weight: 150;

}








