//Variables

$c1:#100e29;
$c2:#283ba3;
$c3:#455ff1;
$c4:#51a2ec;
$c5:#5dd6ec;
$c6:#3448cf;
$c7:#3d96b1;

/*--------------- NAVIGATION BAR GLOBAL STYLES----------------------*/
//when the navbar collapses or scrolls down the color will change accordingly
.top-nav-collapse {
  background-color: #1D1273,;
  color: blue;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1D1273,;
    }
}
/*--------------- BODY GLOBAL STYLES----------------------*/
body {
  background: radial-gradient(at 0% 0%, $c1, $c2,  $c3, $c4, $c5, $c6, $c7);
  font-family: 'sans-serif', roboto, serif;
  font-weight: 150;

}